<h2 mat-dialog-title></h2>
<mat-dialog-content>
  <div class="appointment-container">

    <!-- Form Section -->
    <div *ngIf="!showConfirmationMessage">
      <h2>Book an Appointment</h2>

      <div>
        <label for="doctor">Doctor:</label>
        <mat-select [(ngModel)]="selectedDoctorId" (selectionChange)="onDoctorChange($event.value)">
          <mat-option *ngFor="let doctor of doctorNames" [value]="doctor.staffId">
            {{ doctor.fullName }} , ({{ doctor.roleName }})
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="availableDates.length > 0">
        <label for="date">Date:</label>
        <mat-select [(ngModel)]="selectedDate" (selectionChange)="onDateChange($event.value)">
          <mat-option *ngFor="let date of availableDates" [value]="date">
            {{ date | date: 'EEEE, MMMM d, yyyy' }}
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="availableTimes.length > 0">
        <label for="time">Time:</label>
        <mat-select [(ngModel)]="selectedTime" (selectionChange)="onTimeChange($event.value)">
          <mat-option *ngFor="let time of availableTimes" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </div>

      <div>
        <label for="reason">Appointment Reason:</label>
        <div>
          <textarea [(ngModel)]="appointmentReason" placeholder="Please provide a reason for
          your appointment" rows="4" class="appointment-textarea"></textarea>
        </div>
      </div>

    </div>


    <mat-dialog-actions align="end">
      <button mat-button color="warn" class="cancelbutton" mat-dialog-close>Cancel</button>
      <button mat-button color="primary" mat-dialog-close (click)="submitAppointment()">Save</button>
    </mat-dialog-actions>

  </div>
</mat-dialog-content>

