<body>
  <div class="container">
    <div class="item item-0">
      <app-client-toolbar></app-client-toolbar>
    </div>

    <div class="item item-1">
      <div class="breadcrumb-container mat-elevation-z2">
        <nav>
          <span class="breadcrumb-item">
            <button mat-button (click)="navigateTo('/client-home')" class="breadcrumb-link">Home</button>
          </span>
          <span class="breadcrumb-separator"> / </span>
          <span class="breadcrumb-item">
            <button mat-button (click)="navigateTo('/vaccine-details')" class="breadcrumb-link current">Vaccination</button>
          </span>
        </nav>
      </div>
      <div class="text">Vaccination Details</div>
    </div>

    <div class="item item-2">
      <div class="dental-care-section">
        <div class="text-and-image">
          <div class="dental-care-text">
            <h2>{{ vaccinationDetails.title }}</h2>
            <p *ngFor="let paragraph of vaccinationDetails.paragraphs">{{ paragraph }}</p>
          </div>
          <div class="dental-care-image">
            <img src="images/MyImages/VaccineDetails.webp" alt="Pet Dental Care">
          </div>
        </div>

        <div class="additional-details">
          <h3>{{ vaccinationDetails.subtitle1 }}</h3>
          <p *ngFor="let paragraph of vaccinationDetails.additionalDetails1">{{ paragraph }}</p>

          <h3>{{ vaccinationDetails.subtitle2 }}</h3>
          <p *ngFor="let paragraph of vaccinationDetails.additionalDetails2">{{ paragraph }}</p>

          <h3>{{ vaccinationDetails.subtitle3 }}</h3>
          <p>{{ vaccinationDetails.closingParagraph }}</p>
          <p class="contactInfo">{{ vaccinationDetails.contact }}</p>
        </div>

        <div class="book-appointment">
          <button (click)="onBookNow()">{{ vaccinationDetails.bookAppointmentText }}</button>
        </div>

        <div class="office-hours">
          <h3>Office Hours</h3>
          <div class="hours-container">
            <div class="day-time">Monday<br><span>9:00 am - 5:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Tuesday<br><span>9:00 am - 5:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Wednesday<br><span>9:00 am - 5:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Thursday<br><span>9:00 am - 5:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Friday<br><span>9:00 am - 5:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Saturday<br><span>9:00 am - 2:00 pm</span></div>
            <div class="divider"></div>
            <div class="day-time">Sunday<br><span>Closed</span></div>
          </div>
        </div>

        <div class="footer-section">
          <div class="logo">
            <img src="images/MyImages/Logo2.png" alt="Dr Pawpaw Center Logo" />
          </div>
          <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank">
              <img src="images/MyImages/instagram.webp" alt="Instagram" />
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img src="images/MyImages/facebook.jpg" alt="Facebook" />
            </a>
          </div>
          <div class="contact-info">
            <span>Call Us: <a href="tel:800-462-8749">800-462-8749</a></span>
          </div>
        </div>

      </div>

      </div>


      </div>
    </body>
