<body>
  <div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
      <mat-tab label="Pet Info">
    <div class="item item-1">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>

      <mat-card class="id-card" *ngIf="animal">
        <!-- Edit Button -->
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editPet()">Edit</button>
  </mat-card-actions>
        <mat-card-content>
          <div class="id-card-content">
            <!-- Pet Picture -->
            <img src="/images/MyImages/Dental.webp" alt="Pet Picture" class="pet-picture" />
            <!-- Pet Details -->
            <div class="info-row">
              <div class="info-item">
                <strong>Name:</strong> {{ animal.animalName }}
              </div>
              <div class="info-item">
                <strong>Gender:</strong> {{ animal.gender }}
              </div>
            </div>

            <div class="info-row">
              <div class="info-item">
                <strong>Species:</strong> {{ animal.species }}
              </div>
              <div class="info-item">
                <strong>Breed:</strong> {{ animal.breed }}
              </div>
            </div>

            <div class="info-row">
              <div class="info-item">
                <strong>Birth Date:</strong> {{ animal.animalBirthDate | date: 'dd MMM yyyy' }}
              </div>
              <div class="info-item">
                <strong>Weight:</strong> {{ animal.weight }}
              </div>
            </div>


          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="item item-2">
      <mat-card class="owner-card">
        <mat-card-header>
          <mat-card-title class="owner-title"></mat-card-title>
        </mat-card-header>
        <!-- Edit Button -->
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editOwner()">Edit</button>
  </mat-card-actions>
        <mat-card-content>
          <div class="owner-card-content">
            <div *ngIf="owner">
              <h3>Owner Details</h3>
              <p><strong>Name:</strong> {{ owner.fullName }}</p>
              <p><strong>Owner Birth Date:</strong> {{ owner.ownerBirthDate | date: 'dd MMM yyyy'}}</p>
              <p><strong>Phone:</strong> {{ owner.phone }}</p>
              <p><strong>Email:</strong>{{owner.ownerEmail}}</p>
              <p><strong>Address:</strong> {{ owner.address }}</p>
              <!-- Add any other properties of the OwnerDto object here -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</mat-tab>

<mat-tab label="Appointments">
    <div class="item item-3">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card
        (ngpFileUploadSelected)="onFilesSelected($event)"
        ngpFileUpload
        ngpFileUploadMultiple
      >
        <ng-icon name="heroCloudArrowUp" inert />
        <p class="heading">Select or drag and drop files here.</p>
        <p class="subheading">Max file size: 10MB</p>
      </mat-card>
    </div>


    <div class="item item-4">Appointments
      <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Medium</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
</mat-card>
    </div>
</mat-tab>

<mat-tab label="Medical Record">
    <div class="item item-5">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Medical History</mat-card-title>
          <mat-card-subtitle>Shows medical history of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button"(click)="openDialog()">Add Diagnosis</button>

      <table mat-table [dataSource]="records" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="diagnosis">
          <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
          <td mat-cell *matCellDef="let row"> {{row.diagnosis}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="surgery">
          <th mat-header-cell *matHeaderCellDef> Surgery Details </th>
          <td mat-cell *matCellDef="let row"> {{row.surgeryDetails}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="treatment">
          <th mat-header-cell *matHeaderCellDef> Medication </th>
          <td mat-cell *matCellDef="let row"> {{row.prescribedMedication}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'dd MMM yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Treatment </th>
          <td mat-cell *matCellDef="let row"> {{row.treatment}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Vaccine History">
    <div class="item item-6">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Vaccine History</mat-card-title>
          <mat-card-subtitle>Shows vaccine history of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button">Add Vaccine</button>

      <table mat-table [dataSource]="vaccines" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="VaccineName">
          <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
          <td mat-cell *matCellDef="let row"> {{row.vaccineName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="VaccineDate">
          <th mat-header-cell *matHeaderCellDef> Vaccine Date </th>
          <td mat-cell *matCellDef="let row"> {{row.vaccinationDate | date: 'dd MMM yyyy' }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dosage">
          <th mat-header-cell *matHeaderCellDef> Dose </th>
          <td mat-cell *matCellDef="let row"> {{row.dose}} </td>
        </ng-container>

        <ng-container matColumnDef="NextDueDate">
          <th mat-header-cell *matHeaderCellDef> Next Due Date </th>
          <td mat-cell *matCellDef="let row"> {{row.nextDueDate | date: 'dd MMM yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="VaccineColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: VaccineColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
      </div>
  </mat-tab>

  </mat-tab-group>
  </div>
</body>
