<body>
  <div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="peticon">pets</mat-icon>
           Info
        </ng-template>
        <div class="petownerInfo">
    <div class="item item-1">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>

      <mat-card class="id-card" *ngIf="animal">
        <!-- Edit Button -->
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editPet()">Edit</button>
  </mat-card-actions>
        <mat-card-content>
          <div class="id-card-content">
            <!-- Pet Picture -->
            <img src="/images/MyImages/Dental.webp" alt="Pet Picture" class="pet-picture" />
            <!-- Pet Details -->
            <div class="info-row">
              <div class="info-item">
                <strong>Name:</strong> {{ animal.animalName }}
              </div>
              <div class="info-item">
                <strong>Gender:</strong> {{ animal.gender }}
              </div>
            </div>

            <div class="info-row">
              <div class="info-item">
                <strong>Species:</strong> {{ animal.species }}
              </div>
              <div class="info-item">
                <strong>Breed:</strong> {{ animal.breed }}
              </div>
            </div>

            <div class="info-row">
              <div class="info-item">
                <strong>Birth Date:</strong> {{ animal.animalBirthDate | date: 'dd MMM yyyy' }}
              </div>
              <div class="info-item">
                <strong>Weight:</strong> {{ animal.weight }}
              </div>
            </div>


          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="item item-2">
      <mat-card class="owner-card">
        <mat-card-header>
          <mat-card-title class="owner-title"></mat-card-title>
        </mat-card-header>
        <!-- Edit Button -->
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editOwner()">Edit</button>
  </mat-card-actions>
        <mat-card-content>
          <div class="owner-card-content">
            <div *ngIf="owner">
              <h3>Owner Details</h3>
              <p><strong>Name:</strong> {{ owner.fullName }}</p>
              <p><strong>Owner Birth Date:</strong> {{ owner.ownerBirthDate | date: 'dd MMM yyyy'}}</p>
              <p><strong>Phone:</strong> {{ owner.phone }}</p>
              <p><strong>Email:</strong>{{owner.ownerEmail}}</p>
              <p><strong>Address:</strong> {{ owner.address }}</p>
              <!-- Add any other properties of the OwnerDto object here -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <mat-icon class="xrayicon">image</mat-icon>
    X-ray
  </ng-template>
  <div class="item item-1">
    <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
      <mat-icon>close</mat-icon>
    </button></div>

   <!-- Add New X-Ray Form -->
   <form (submit)="onAddXray($event)" class="add-xray-form">
    <input type="file" class="file-input"
       (change)="onFileSelected($event)" accept="image/*" #fileUpload required>
        <div class="file-upload">
           {{ "Upload Xray Here"}}
           <button mat-mini-fab color="primary" class="upload-btn"
             (click)="fileUpload.click()">
             <mat-icon>attach_file</mat-icon>
           </button>
        </div>
    <button mat-raised-button color="primary" type="submit">Add X-Ray</button>
  </form>

  <div class="xray-cards">
    <mat-card *ngFor="let xray of xray" class="xray-card">
      <mat-card-header>
        <mat-card-title>Name: {{ animal?.animalName }}</mat-card-title>
        <mat-card-subtitle>Created: {{ xray.createdDate | date: 'short' }}</mat-card-subtitle>
        <button mat-icon-button class="delete-icon" (click)="onDeleteXray(xray.xrayId!)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-card-header>
      <img mat-card-image [src]="xray.imageUrl" alt="X-ray image" class="xray-image" />
    </mat-card>
  </div>
</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <mat-icon class="medicalicon">healing</mat-icon>
    Medical Records
  </ng-template>
    <div class="item item-5">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Medical History</mat-card-title>
          <mat-card-subtitle>Shows medical history of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button"(click)="openDialog()">Add Diagnosis</button>

      <table mat-table [dataSource]="records" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="diagnosis">
          <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
          <td mat-cell *matCellDef="let row"> {{row.diagnosis}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="surgery">
          <th mat-header-cell *matHeaderCellDef> Surgery Details </th>
          <td mat-cell *matCellDef="let row"> {{row.surgeryDetails}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="medication">
          <th mat-header-cell *matHeaderCellDef> Medication </th>
          <td mat-cell *matCellDef="let row"> {{row.prescribedMedication}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'dd MMM yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="treatment">
          <th mat-header-cell *matHeaderCellDef> Treatment </th>
          <td mat-cell *matCellDef="let row"> {{row.treatment}} </td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
         <th mat-header-cell *matHeaderCellDef class="tableheader"> Actions </th>
         <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="accent" (click)="editMedical()">
            <mat-icon>edit</mat-icon>
          </button>
      <button mat-icon-button color="warn" (click)="onDeleteMedical(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="vaccineicon">local_hospital</mat-icon>
      Vaccine History
    </ng-template>
    <div class="item item-6">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Vaccine History</mat-card-title>
          <mat-card-subtitle>Shows vaccine history of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button" (click)="onAddVaccine()">Add Vaccine</button>

      <table mat-table [dataSource]="vaccines" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="VaccineName">
          <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
          <td mat-cell *matCellDef="let row"> {{ getVaccineName(row.vaccinationId) }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="VaccineDate">
          <th mat-header-cell *matHeaderCellDef> Vaccine Date </th>
          <td mat-cell *matCellDef="let row"> {{row.vaccinationDate | date: 'dd MMM yyyy' }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dosage">
          <th mat-header-cell *matHeaderCellDef> Dose </th>
          <td mat-cell *matCellDef="let row"> {{ getDose(row.vaccinationId) }} </td>
        </ng-container>

        <ng-container matColumnDef="NextDueDate">
          <th mat-header-cell *matHeaderCellDef> Next Due Date </th>
          <td mat-cell *matCellDef="let row"> {{row.nextDueDate | date: 'dd MMM yyyy'}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="tableheader"> Actions </th>
          <td mat-cell *matCellDef="let row">
           <button mat-icon-button color="accent">
             <mat-icon>edit</mat-icon>
           </button>
       <button mat-icon-button color="warn" (click)="onDeleteVaccine(row)">
         <mat-icon>delete</mat-icon>
       </button>
     </td>
   </ng-container>

        <tr mat-header-row *matHeaderRowDef="VaccineColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: VaccineColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
      </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="appointicon">calendar_today</mat-icon>
     Appoints
    </ng-template>
    <div class="item item-1">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button></div>

    <div class="item item-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Appointments</mat-card-title>
          <mat-card-subtitle>Shows the appointments of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button" (click)="openAddAppointmentDialog(animalId)">Add Appoint</button>

      <table mat-table [dataSource]="appoints" class="mat-elevation-z8">

        <ng-container matColumnDef="LastVisit">
          <th mat-header-cell *matHeaderCellDef> Last Visit </th>
          <td mat-cell *matCellDef="let row"> {{row.appointmentDate | date: 'dd MMM yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="AppointmentReason">
          <th mat-header-cell *matHeaderCellDef> Appointment Reason </th>
          <td mat-cell *matCellDef="let row"> {{ row.appointmentReason }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="AppointsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: AppointsColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="labicon">invert_colors</mat-icon>
      Lab Result
    </ng-template>

    <div class="item item-7">
      <button class="closeButton" mat-icon-button (click)="onClose()" aria-label="Close Drawer">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lab Results</mat-card-title>
          <mat-card-subtitle>Shows lab results of your patients</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- HTML !-->
      <button class="button-61" role="button" (click)="onAddLabResults()">Add Result</button>

      <table mat-table [dataSource]="labResults" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="TestName">
          <th mat-header-cell *matHeaderCellDef> Test Name </th>
          <td mat-cell *matCellDef="let row"> {{row.testName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="TestDate">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.testDate | date: 'dd MMM yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="Result">
          <th mat-header-cell *matHeaderCellDef> Results </th>
          <td mat-cell *matCellDef="let row"> {{row.result}} </td>
        </ng-container>
        <ng-container matColumnDef="Unit">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let row"> {{ getUnitOfMeasurement(row.labResultId) }} </td>
        </ng-container>

        <ng-container matColumnDef="isNormal">
          <th mat-header-cell *matHeaderCellDef> Condition </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'normal': row.isNormal === 'Normal', 'abnormal': row.isNormal === 'Abnormal'}">
            {{row.isNormal}}
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="tableheader"> Actions </th>
          <td mat-cell *matCellDef="let row">
           <button mat-icon-button color="accent">
             <mat-icon>edit</mat-icon>
           </button>
       <button mat-icon-button color="warn" (click)="onDeleteLabResults(row)">
         <mat-icon>delete</mat-icon>
       </button>
     </td>
   </ng-container>

        <tr mat-header-row *matHeaderRowDef="LabColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: LabColumns;"></tr>
      </table>
        </mat-card-content>
      </mat-card>
      </div>
  </mat-tab>

  </mat-tab-group>
  </div>
</body>
