

/* CSS */
.buttonAdd {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 150px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

.buttonAdd:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.buttonAdd:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.buttonAdd:not(:disabled) {
  background-color: #6200ee;
}

.buttonAdd:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.buttonAdd:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #A46BF5;
}

.filter{
  width: 100%;
  margin-top: 10px;
}


.role-manager {
  background-color: rgb(243, 243, 91);
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}

.role-nurse {
  background-color: rgb(110, 110, 248);
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}

.role-pet-doctor {
  background-color: rgb(107, 243, 107);
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}

.role-horse-doctor {
  background-color: rgb(248, 160, 77);
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}

.role-receptionist {
  background-color: rgb(253, 175, 188);
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}

.role-unknown {
  background-color: grey;
  padding: 0 5px; /* Adjust padding to control the size of the background */
  border-radius: 5px;
}
