<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Adoption Dashboard</h1>
    <p>View completed adoption questionnaires and available pets for adoption.</p>
  </div>

  <!-- Search and Filter Panel -->
  <div class="filter-panel">
    <mat-select placeholder="Filter by Status">
      <mat-option value="approved">Approved</mat-option>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="rejected">Rejected</mat-option>
    </mat-select>
  </div>

  <!-- Main Content -->
  <div class="main-content">
     <!-- Pets for Adoption Section -->
     <section class="pets-for-adoption">
      <h2>Pets for Adoption</h2>
      <div class="card-grid">
        <mat-card *ngFor="let pet of petsforadoption">
          <mat-card-header>
            <mat-card-title>breed: {{ pet.breed }}</mat-card-title>
            <mat-card-subtitle>birth date: {{ pet.petBirthDate | date: 'dd MMM yyyy'}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="pet.imageUrl" alt="Pet image" />
          <mat-card-content>
            <p>Health Condition: {{ pet.petCondition }}</p>
            <p>Status: {{ pet.adoptionStatusId }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" >Adopt</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
    <!-- Adoption Questionnaires Section -->
    <section class="adoption-questionnaires">
      <h2>Adoption Questionnaires</h2>
      <div class="card-grid">
        <mat-card *ngFor="let questionnaire of questionnaires">
          <mat-card-header>
            <mat-card-title>Occupation:{{ questionnaire.occupation }}</mat-card-title>
            <mat-card-subtitle>Created At: {{ questionnaire.createdAt| date }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Owned Pet: {{ questionnaire.hasOwnedPetBefore }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">View</button>
            <button mat-button color="accent" *ngIf="questionnaire.questionStatus === 'Pending'">Approve</button>
            <button mat-button color="warn" *ngIf="questionnaire.questionStatus === 'Pending'">Reject</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>


  </div>
</div>

