<body>
  <div class="container">
    <!-- Already Designed Items -->
    <div class="item item-1">
      <p class="greeting-text">
        Welcome back, {{username}} <br />
        Check your agenda to stay on track today.
      </p>
    </div>

    <div class="item item-2">
      <mat-card class="card">
        <mat-card-content class="items">
          <i class="icon"><mat-icon>attach_money</mat-icon></i>
          <div class="card-text">
            <h3>Total Yearly Income</h3>
            <p>{{totalyearRevenue | addDollar}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-3">
      <mat-card class="card">
        <mat-card-content class="items">
          <i class="icon"><mat-icon>date_range</mat-icon></i>
          <div class="card-text">
            <h3>Total Appointments</h3>
            <p>{{appoints}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-4">
      <mat-card class="small-card">
        <mat-card-content class="items">
          <ngx-charts-pie-chart
            [results]="datas"
            [view]="[300, 300]"
            [scheme]="colorScheme"
            [labels]="true"
            [doughnut]="true"
            [animations]="true">
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="item item-5">
      <img src="images/MyImages/vertical6.jpg" alt="Background" class="background-image" />
      <mat-card class="card-overlay">
        <mat-card-content>
          <div class="card-content">
            <h3>All you need is here</h3>
            <button mat-raised-button class="action-button" color="primary" (click)="viewAppointments()">Appointments</button>
            <button mat-raised-button class="action-button" color="primary" (click)="viewAdoptions()">Adoptions</button>
            <button mat-raised-button class="action-button" color="primary" (click)="viewPets()">Pets</button>
            <button mat-raised-button class="action-button" color="primary" (click)="viewRatings()">Ratings</button>
         </div>
        </mat-card-content>
      </mat-card>
    </div>



    <!-- Clinic Revenue Chart -->
    <div class="item item-6">
      <h3>Clinic Revenue</h3>
      <canvas id="revenueChart"></canvas>
    </div>


  </div>
</body>
