.form-row {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Space between fields */
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
}

.mat-card {
  margin: 20px 0;
}
.submit{
  margin-left: 200px;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
