<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Medical Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #ownerForm="ngForm">
      <div class="form-row">

        <mat-form-field class="form-field">
          <mat-label>Diagnosis</mat-label>
          <input matInput [(ngModel)]="data.diagnosis" name="fullName" required />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Treatment</mat-label>
          <input matInput [(ngModel)]="data.treatment" name="phone" required />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Surgery Details</mat-label>
          <input matInput [(ngModel)]="data.surgeryDetails" name="surgery" required />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Prescribed Medication</mat-label>
          <input matInput [(ngModel)]="data.prescribedMedication" name="medication" required />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Select Doctor</mat-label>
          <mat-select name="staffId" [(ngModel)]="data.staffId" required>
            <ng-container *ngFor="let doctor of doctorNames">
              <mat-option [value]="doctor.staffId">
                {{ doctor.fullName }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="action-buttons">
        <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="saveChanges()" [disabled]="!ownerForm.valid">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

