<mat-card class="add-lab-card">
  <mat-card-header>
    <mat-card-title>Animal Submission</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-dialog-content>
      <mat-stepper #stepper>

        <!-- Step 1: Fill out owner details -->
        <mat-step>
          <form #ownerForm="ngForm">
            <ng-template matStepLabel>Fill Owner</ng-template>
            <div class="vertical-container">

              <mat-form-field>
                <mat-label>Owner Full Name</mat-label>
                <input matInput [(ngModel)]="animalowner.fullName" name="fullName" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Owner Phone Number</mat-label>
                <input matInput [(ngModel)]="animalowner.phone" name="phone" required/>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Owner Email</mat-label>
                <input matInput [(ngModel)]="animalowner.ownerEmail" name="email" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Owner Birth Date</mat-label>
                <input matInput [matDatepicker]="ownerBirthDatePicker"
                       [(ngModel)]="animalowner.ownerBirthDate" name="ownerBirthDate" required/>
                <mat-datepicker-toggle matIconSuffix [for]="ownerBirthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #ownerBirthDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="animalowner.address" name="address" required />
              </mat-form-field>

              <div>
                <button mat-button matStepperPrevious (click)="onCancel()">Cancel</button>
                <button mat-button matStepperNext [disabled]="!ownerForm.valid">Next</button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- Step 2: Fill out animal details -->
        <mat-step>
          <form #animalForm="ngForm">
            <ng-template matStepLabel>Fill Animal</ng-template>
            <div class="vertical-container">

              <mat-form-field>
                <mat-label>Animal Name</mat-label>
                <input matInput [(ngModel)]="animal.animalName" name="animalName" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animal Gender</mat-label>
                <mat-select [(ngModel)]="animal.gender" name="gender" required>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animal Birth Date</mat-label>
                <input matInput [matDatepicker]="AnimalBirthDatePicker"
                       [(ngModel)]="animal.animalBirthDate" name="animalBirthDate" required />
                <mat-datepicker-toggle matIconSuffix [for]="AnimalBirthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #AnimalBirthDatePicker></mat-datepicker>
              </mat-form-field>



              <mat-form-field>
                <mat-label>Animal Type</mat-label>
                <mat-select name="animalType" [(ngModel)]="animal.animalTypeId" required>
                  <mat-option *ngFor="let type of animaltype" [value]="type.animalTypeId">
                    {{ type.typeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animal Species</mat-label>
                <mat-select [(ngModel)]="animal.species" name="species" required (selectionChange)="updateBreeds()">
                  <mat-option *ngFor="let species of speciesList" [value]="species">{{ species }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animal Breed</mat-label>
                <mat-select [(ngModel)]="animal.breed" name="breed" [disabled]="isBreedDisabled" required>
                  <mat-option *ngFor="let breed of breeds" [value]="breed">{{ breed }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Animal Weight</mat-label>
                <input matInput [(ngModel)]="animal.weight" name="weight" required />
              </mat-form-field>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="onSubmit()" [disabled]="!animalForm.valid">Submit</button>
            </div>
          </form>
        </mat-step>

      </mat-stepper>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
