.dog-training-section {
  margin: 2rem;
  font-family: Arial, sans-serif;

  .text-and-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .dog-training-text {
      flex: 2;
      padding-right: 1.5rem;

      h2 {
        font-size: 2rem;
        color: #4682B4;
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }

    .dog-training-image {
      flex: 1;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .youtube-video {
    margin-top: 2rem;
    margin-left: 200px;
    iframe {
      width: 60%;
      height: 315px; /* You can adjust this */
      border-radius: 10px;
    }
  }

  .additional-details {
    margin-top: 2rem;

    h3 {
      font-size: 1.5rem;
      color: #4682B4;
      margin-top: 1.5rem;
    }

    p {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }

  .book-appointment {
    margin-top: 2rem;
    text-align: center;

    button {
      background-color: #4682B4;
      color: #fff;
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #87CEEB;
      }
    }
  }

  .contactInfo {
    color: #4682B4;
    font-size: 26px;
  }
}
