.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 150px 1fr;
}
.item-0{
  grid-column: 1;
  grid-row: 1;

}

.item-1{
  grid-column: 1;
  grid-row: 2;
  background-color: #d5def5;

  .breadcrumb-container {

    padding: 8px 16px;
    color: black;
  }

  .breadcrumb-item {
    display: inline;
  }

  .breadcrumb-link {
    color: black;
    text-decoration: none;
    font-weight: 10px;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-separator {
    color: black; // White for the separator
    margin: 0 4px;
  }

  .current {
    color: black; // White for the current page text
    font-weight: normal;
  }
  .text{
    font-size: 24px;
    color: black;
    margin-left: 30px;
    margin-top:10px;
  }

}

.item-2{
  grid-column: 1;
  grid-row: 3;
  background-color: #d5def5;
  .dog-training-section {
    margin: 2rem;
    font-family: Arial, sans-serif;

    .text-and-image {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .dog-training-text {
        flex: 2;
        padding-right: 1.5rem;

        h2 {
          font-size: 2rem;
          color: #4682B4;
          margin-bottom: 1rem;
        }

        p {
          line-height: 1.6;
          margin-bottom: 1rem;
        }
      }

      .dog-training-image {
        flex: 1;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
    }

    .additional-details {
      margin-top: 2rem;

      h3 {
        font-size: 1.5rem;
        color: #4682B4;
        margin-top: 1.5rem;
      }

      p {
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }

    .book-appointment {
      margin-top: 2rem;
      text-align: center;

      button {
        background-color: #4682B4; /* Light Blue */
        color: #fff;
        padding: 0.75rem 2rem;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #87CEEB; /* Slightly darker blue */
        }
      }
    }
  }

  .contactInfo{
    color: #4682B4;
    font-size: 26px;
  }
}
