<mat-dialog-content>
  <form #StaffForm="ngForm">
    <ng-template>Fill Staff</ng-template>
    <div class="vertical-container">

      <mat-form-field>
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="inventory.itemName" name="ItemName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Item Quantity</mat-label>
        <input matInput [(ngModel)]="inventory.quantity" name="Quantity" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Restock Date</mat-label>
        <input matInput [matDatepicker]="lastRestockedPicker"
               [(ngModel)]="inventory.lastRestocked" name="lastRestocked" required />
        <mat-datepicker-toggle matIconSuffix [for]="lastRestockedPicker"></mat-datepicker-toggle>
        <mat-datepicker #lastRestockedPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unit Price</mat-label>
        <input matInput [(ngModel)]="inventory.unitPrice" name="unitPrice" required />
      </mat-form-field>
     </div>
      <div>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSubmit()" [disabled]="!StaffForm.valid">Submit</button>
    </div>
  </form>
</mat-dialog-content>
