<mat-card class="owner-card">
  <mat-card-header>
    <mat-card-title>Edit Owner Details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #ownerForm="ngForm" class="form-field">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="data.owner.fullName" name="fullName" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Birth Date</mat-label>
        <input matInput [(ngModel)]="data.owner.ownerBirthDate" name="ownerBirthDate" type="date" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="data.owner.phone" name="phone" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.owner.ownerEmail" name="ownerEmail" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Address</mat-label>
        <textarea matInput [(ngModel)]="data.owner.address" name="address" required></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="warn" (click)="onNoClick()" class="cancel">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveChanges()" cdkFocusInitial>Save</button>
  </mat-card-actions>
</mat-card>
