.container{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 160px 1fr;
}

.item-0{
  grid-column: 1/2;
  grid-row: 1;
}
.item-1{
  grid-column: 1/2;
  grid-row: 2;
  background-color: #d5def5;

  .breadcrumb-container {

    padding: 8px 16px;
    color: black;
  }

  .breadcrumb-item {
    display: inline;
  }

  .breadcrumb-link {
    color: black;
    text-decoration: none;
    font-weight: 10px;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-separator {
    color: black; // White for the separator
    margin: 0 4px;
  }

  .current {
    color: black; // White for the current page text
    font-weight: normal;
  }
  .text{
    font-size: 24px;
    color: black;
    margin-left: 30px;
    margin-top:10px;
  }

}


.item-2 {
  grid-column: 1/2;
  grid-row: 3;
  background-color: #d5def5;

.adoption-card {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between;
  background-color: #d5def5;
  width: 100%;
  border-radius: 0;
}

.leftheader {
  font-size: 25px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.quest-card {
  padding: 5px;
  margin-left: 200px;
  margin-top: 10px;
  border-radius: 0;
  background-color: #d5def5;
  width: 800px;
}

.pet-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


}
