<body>
  <div class="container">

    <div class="item item-1">
      </div>
    </div>

    <div class="item item-2">
      <mat-card class="adoption-card">
        <div class="row">
          <!-- Left Card for Form Fields -->
          <mat-card class="quest-card" fxFlex="50%">
            <img src="images/MyImages/AdoptionCard.png" alt="Pet Image" class="pet-image" />
            <mat-card-header class="leftheader">Adoption Questionnaire</mat-card-header>
            <!-- Occupation Field -->
            <mat-form-field>
              <mat-label>What is Your Occupation?</mat-label>
              <input matInput [(ngModel)]="adoption.occupation" name="ownerOccupation" required />
            </mat-form-field>

            <!-- Salary Field -->
            <mat-form-field>
              <mat-label>What is Your Salary?</mat-label>
              <input matInput [(ngModel)]="adoption.salary" name="salary" type="number" required />
            </mat-form-field>

            <!-- Is Married -->
            <div class="checkbox-group">
              <p>Are you married?</p>
              <mat-radio-group [(ngModel)]="adoption.isMarried">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="checkbox-group">
              <p>Do you Have Children?</p>
              <mat-radio-group [(ngModel)]="adoption.hasChildren">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Has Owned Pet Before -->
            <div class="checkbox-group">
              <p>Have you owned a pet before?</p>
              <mat-radio-group [(ngModel)]="adoption.hasOwnedPetBefore">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Are All Adults Aware -->
            <div class="checkbox-group">
              <p>Are all adults in your household aware of the adoption?</p>
              <mat-radio-group [(ngModel)]="adoption.isHouseholdAware">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="checkbox-group">
              <p>Has anyone in your household experienced allergies or asthma?</p>
              <mat-radio-group [(ngModel)]="adoption.hasAllergiesAsthma">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field>
              <mat-label>Who will be responsible for the dog's care?(feeding, exercise, walks,potty)?</mat-label>
              <textarea
                matInput
                [(ngModel)]="adoption.whoWillBeReponsible"
                name="responsible"
                rows="2"
                required
              ></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Who will provide for your pet in the event that you become ill or unable to care for him/her?</mat-label>
              <textarea
                matInput
                [(ngModel)]="adoption.ifSick"
                name="sick"
                rows="3"
                required
              ></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>How many hours a day will your pet be left alone? Where will (s)he be left alone?</mat-label>
              <textarea
                matInput
                [(ngModel)]="adoption.leftAlone"
                name="alone"
                rows="3"
                required
              ></textarea>
            </mat-form-field>

            <!-- Reason for Adoption -->
            <mat-form-field>
              <mat-label>What is your Reason for adoption?</mat-label>
              <textarea
                matInput
                [(ngModel)]="adoption.reasonForAdoption"
                name="reasonForAdoption"
                rows="3"
                required
              ></textarea>
            </mat-form-field>

            <!-- Submit Button -->
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
          </mat-card>

    </div>
